<h1>Contest list</h1>

<p>
<table class='table table-striped'>
  <tr>
    <th>Contest name</th>
    <th>Description</th>
    <th>Contest period</th>
  </tr>

<% @contests.each do |contest| %>
  <tr>
    <td><%= link_to contest.name, contest_problems_path(contest) %></td>
    <td><%= contest.introduction %></td>
    <td><%= format_date(contest.start_time) %> - <%= format_date(contest.end_time) %>
  </tr>
<% end %>
</table>
</p>
