<h1>Listing groups</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @groups.each do |group| %>
  <tr>
    <td><%= group.name %></td>
    <td><%= link_to 'Show', group %></td>
    <td><%= link_to 'Join', "groups/#{group._id}/join" %></td>
  </tr>
<% end %>
</table>

<br>

<%= link_to 'New Group', new_group_path %>
