<h2><%= @problem.title %></h2>

<p>
  <b>Content Path:</b>
</p>
<%= link_to(@problem.content_path, @problem.content_path) %>
<br />
<br />
<br />


<%= link_to 'Edit', edit_contest_problem_path(@contest, @problem) %> |
<%= link_to 'Back', contest_problems_path(@contest) %>
