<h1>Submit your output</h1>

<%= form_tag(action: 'submit') do %>
  <div class="field">
    <%= select_tag('input_type', options_for_select(
      { 'Small Input' => :small, 'Large Input' => :large })) %>
  </div>
  <div class="field">
    <%= text_area_tag('output') %>
  </div>
  <div class="field">
    <%= submit_tag('Submit') %>
  </div>
<% end %>
