button#solve_small,
button#solve_large {
  display: block;
  margin-top: 1em;
}

form#form_small,
form#form_large {
  background-color: rgb(250, 236, 165);
  padding: 1em;
  a:link,
  a:visited,
  a:active,
  a:hover,
  a:focus {
    color: blue;
    text-decoration: underline;
    background: none;
  }
  .field {
    border-top: 1px solid grey;
    margin-top: 1em;
    .btn {
      margin-top: 1em;
    }
  }
}

div.notification {
  font-size: 120%
}
