// Place all the styles related to the contests/scores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.score-label {
  white-space: nowrap;
  position: relative;
  font-family: 'Courier New';
}

